:root {
    --bg-color-1: #B3D1E5;
    --bg-color-1-5: #C1E2D9;
    --bg-color-2: #F3F2F0;
    --bg-color-2-5: #F0D8D6;
    --bg-color-3: #A9A199;
    --bg-color-3-5: #B8B1A8;
    --font-color-3: #FF9094;
    --font-color-2: #FF9094;
    --font-color: #FF9094;
    --accent-color: #FF9094;
