:root {
	--bg-color-1: hsl(220, 18%, 9%);
	--bg-color-1-5: hsl(220, 18%, 11%);
	--bg-color-2: hsl(220, 18%, 13%);
	--bg-color-2-5: hsl(220, 18%, 16%);
	--bg-color-3: hsl(220, 18%, 19%);
	--bg-color-3-5: hsl(220, 18%, 22%);
	--font-color-3: hsl(220, 18%, 28%);
	--font-color-2: hsl(220, 18%, 38%);
	--font-color: hsl(220, 37%, 68%);
	--accent-color: hsl(220, 37%, 68%);
}
