:root {
	--bg-color-1: hsl(220, 30%, 86%);
	--bg-color-1-5: hsl(220, 40%, 90%);
	--bg-color-2: hsl(220, 50%, 94%);
	--bg-color-2-5: hsl(220, 40%, 90%);
	--bg-color-3: hsl(220, 30%, 82%);
	--bg-color-3-5: hsl(220, 30%, 78%);
	--font-color-3: hsl(220, 10%, 56%);
	--font-color-2: hsl(220, 10%, 36%);
	--font-color: hsl(220, 10%, 12%);
	--accent-color: hsl(220, 10%, 12%);
}
