:root {
	--bg-color-1: #957DAD;
	--bg-color-1-5: #B9A1D2;
	--bg-color-2: #E0BBE4;
	--bg-color-2-5: #E7CCE9;
	--bg-color-3: #FEC8D8;
	--bg-color-3-5: #FFDFD3;
	--font-color-3: #000000;
	--font-color-2: #000000;
	--font-color: #000000;
	--accent-color: #000000;
}
