/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	font-size: 100%;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

body {
	margin: 0;
	height: 100vh;
	background: var(--bg-color-1);
	color: var(--font-color);
	overflow: hidden;
}

#svelte {
	height: 100vh;
	display: flex;
	padding: $spacing;
}

::placeholder,
::-webkit-input-placeholder {
	color: var(--font-color-2);
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--bg-color-2-5);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--bg-color-3);
}
::-webkit-scrollbar-thumb:active {
	background: var(--bg-color-3-5);
}

button,
a,
input,
select,
option {
	font: inherit;
	color: inherit;
	border: none;
	outline: none;
}

input {
	background: var(--bg-color-1);
	padding: $spacing-small;
	border-radius: $roundness-small;
}

button {
	background: var(--bg-color-1);
	padding: $spacing-small;
	border-radius: $roundness-small;
	&:hover {
		background: var(--bg-color-1-5);
		cursor: pointer;
	}
	&:active {
		transform: scale(0.95);
	}
}

select {
	padding: $spacing-small;
	border-radius: $roundness-small;
}

h1 {
	color: var(--accent-color);
	line-height: 50px;
	margin-top: $spacing-small;
	margin-bottom: 0;
}

h2 {
	color: var(--accent-color);
	margin-top: 0;
	margin-bottom: $spacing-small;
}

h3 {
	color: var(--accent-color);
	margin-top: $spacing;
	margin-bottom: $spacing-small;
}

table {
	width: 100%;
	border-spacing: 0 2px;
}

td {
	padding: 0;
}

.grid-heading-container {
	display: flex;
	margin-bottom: $spacing;
}

.heading-container {
	display: flex;
	align-items: center;
	margin-bottom: $spacing-small;
	& h2 {
		margin: 0;
	}
}

.link {
	text-decoration: none;
	display: inline-block;
	&:hover {
		color: var(--font-color-2);
	}
	&:active {
		color: var(--font-color-3);
		transform: scale(0.95);
	}
	*:hover {
		color: var(--font-color-2);
	}
	*:active {
		color: var(--font-color-3);
		transform: scale(0.95);
	}
}

tr.fake {
	color: var(--font-color-2);
}
