/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	font-size: 112.5%;
	--bg-color-1: hsl(220, 17%, 9%);
	--bg-color-1-5: hsl(220, 19%, 10.5%);
	--bg-color-2: hsl(220, 18%, 12%);
	--bg-color-2-5: hsl(220, 17%, 14.5%);
	--bg-color-3: hsl(220, 17%, 17%);
	--bg-color-3-5: hsl(220, 17%, 21.5%);
	--sub-color: hsl(220, 18%, 34%);
	--font-color: hsl(220, 37%, 68%);
	--spacing: 25px;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

body {
	margin: 0;
	height: 100vh;
	background: var(--bg-color-1);
	color: var(--font-color);
	overflow: hidden;
}

#svelte {
	height: 100vh;
	display: flex;
	padding: var(--spacing);
}

::placeholder,
::-webkit-input-placeholder {
	color: var(--sub-color);
}

button,
a,
input {
	font: inherit;
	color: inherit;
	border: none;
	padding: 0;
}
button {
	padding: 10px;
	border-radius: 12px;
}
button:hover {
	cursor: pointer;
}

select {
	border: none;
	font: inherit;
	color: inherit;
}

a {
	text-decoration: none;
}

h1 {
	line-height: 50px;
	margin-top: calc(var(--spacing) / 2);
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
	margin-bottom: calc(var(--spacing) / 2);
}

table {
	width: 100%;
}

td {
	padding: 0;
}

.box {
	background-color: var(--bg-color-2);
	border-radius: 20px;
	padding: var(--spacing);
}

.heading-container {
	display: flex;
	margin-bottom: var(--spacing);
}

.link {
	display: inline-block;
}
.link:hover {
	color: var(--sub-color);
}
.link:active {
	transform: scale(0.95);
}
