/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	font-size: 112.5%;
	--bg-color-1: hsl(220, 18%, 9%);
	--bg-color-1-5: hsl(220, 18%, 10.5%);
	--bg-color-2: hsl(220, 18%, 12%);
	--bg-color-2-5: hsl(220, 18%, 14.5%);
	--bg-color-3: hsl(220, 18%, 16%);
	--bg-color-3-5: hsl(220, 18%, 18%);
	--font-color-3: hsl(220, 18%, 26%);
	--font-color-2: hsl(220, 18%, 34%);
	--font-color: hsl(220, 37%, 68%);
	--spacing: 25px;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

body {
	margin: 0;
	height: 100vh;
	background: var(--bg-color-1);
	color: var(--font-color);
	overflow: hidden;
}

#svelte {
	height: 100vh;
	display: flex;
	padding: $spacing;
}

::placeholder,
::-webkit-input-placeholder {
	color: var(--font-color-2);
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--bg-color-2-5);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--bg-color-3);
}
::-webkit-scrollbar-thumb:active {
	background: var(--bg-color-3-5);
}

button,
a,
input,
select,
option {
	font: inherit;
	color: inherit;
	border: none;
	outline: none;
}

button {
	background: var(--bg-color-1);
	padding: 10px;
	border-radius: 12px;
	&:hover {
		background: var(--bg-color-1-5);
		cursor: pointer;
	}
	&:active {
		transform: scale(0.95);
	}
}

h1 {
	line-height: 50px;
	margin-top: $spacing-small;
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
	margin-bottom: $spacing-small;
}

table {
	width: 100%;
}

td {
	padding: 0;
}

.box {
	background-color: var(--bg-color-2);
	border-radius: 20px;
	padding: $spacing;
}

.heading-container {
	display: flex;
	margin-bottom: $spacing;
}

.link {
	text-decoration: none;
	display: inline-block;
	&:hover {
		color: var(--font-color-2);
	}
	&:active {
		color: var(--font-color-3);
		transform: scale(0.95);
	}
}
